<nav class="navbar navbar-light bg-light " id="navbar">
    <a class="navbar-brand m-2 " href="#">
      <img src="/images/train.png" alt="" width="30" height="24">
      <label>Ticketac</label>
    </a>
    <ul class="nav justify-content-end m-2 ">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#" style="color:#D64733">Connection</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color:black">My last trips</a>
      </li>

    </ul>
  </nav>